﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PGMView</title>
</head>
<body>
    <div>
        @ViewBag.Message
        <br />
        <a asp-action="SupervisorInfo">
            Click here to see all supervisors
        </a>
        <br />
        <label>Current time is @ViewBag.Time</label>
    </div>
</body>
</html>
