﻿
@{
    Layout = null;
}

@model List<Supervisor>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SupervisorInfo</title>
</head>
<body>
    <div>
        List of supervisors:
        <br />
        @foreach (Supervisor supervisor in Model)
        {
            @:ID: @supervisor.Id <br /> Name: @supervisor.Name<br /><br />
        }

    </div>
</body>
</html>
